# pythong
1 jupyter notebook  
2 stackoverflow: https://stackoverflow.com  
3 github: https://github.com/oldyen/splatoon_kids_python

# Outline

1 variable 參數  
1.1 integer 整數  
1.2 float 浮點數  
1.3 string 字串  
1.4 bool (True/False)  
2. data structure    
2.1 list 串列    
2.2 array 陣列  
2.2 tuple 元祖  
2.3 dictionary 字典 only available in python  
3 if   
4 for loop  
5 while  
6 function 函式  
7 object oriented (Class) 物件  
8 application 應用, e.g., data science, UX, or AI

## Vairable 變數

a = 1

In [ ]:
splatoon_player_name = 'Ben' ## string 
type(splatoon_player_name)

In [ ]:
splatoon_player_level = 88 ## integer
type(splatoon_player_level)

In [ ]:
splatoon_player_win = 48.5 ## float
type(splatoon_player_win)

In [ ]:
splatoon_player_is_octo = True ## bool 
type(splatoon_player_is_octo)

## List 陣列

In [ ]:
splatoon_player_name_1 = "Luke"
splatoon_player_name_2 = "Kyle"
splatoon_player_name_3 = "Ben"

splatoon_ks_player_names = ["Luke", "Kyle", "Ben"]
splatoon_ks_player_grades_string = ["4", "5", "6"]
splatoon_ks_player_grades_int = [4, 5, 6]
splatoon_ks_player_grades_float = [4.0, 5.0, 6.0]
[["Luke",4], ["Kyle",5],["Ben",6]]
print(splatoon_ks_player_names)
print(splatoon_ks_player_grades_string)
print(splatoon_ks_player_grades_int)
print(splatoon_ks_player_grades_float)
print(splatoon_ks_player_all_info)

In [ ]:
splatoon_ks_player_names = ["Luke", "Kyle", "Ben"]
print(splatoon_ks_player_names[0])
print(splatoon_ks_player_names[1])
print(splatoon_ks_player_names[2])
print(splatoon_ks_player_names[-1])
print(splatoon_ks_player_names[-2])
print(splatoon_ks_player_names[0:2])
print(splatoon_ks_player_names[1:3])

print(splatoon_ks_player_names[0:-1])


splatoon_ks_player_names = ["Luke", "Kyle", "Ben"]
splatoon_ks_player_names[1] = "AC"
print(splatoon_ks_player_names)


splatoon_ks_player_names = ["Luke", "Kyle", "Ben"]
splatoon_ks_player_names.append("AC")
print(splatoon_ks_player_names)

In [ ]:
## variable = value (type = integer float string boolean list dictionary)
## 變數 = 值 （型態 = 整數 浮點數 字串 布林值 陣列 字典）

lucas = 3 ## integer
lucas = "son" ## string
lucas = 1.5 ## float
lucas = True ## boolean

lucas = [3,"son", 1.5, True]
print(type(lucas))
print(type(lucas[0]))
print(type(lucas[1]))
print(type(lucas[2]))
print(type(lucas[3]))

kitty = lucas
kitty = lucas[-1]
print(kitty)

$\sum_{i=1}^{n} \sigma_i$

tuple 多元: can't change value; 不能改值

In [ ]:
j = ["John","A"]
s = ("Smith","B")
print(type(j))
print(j)
print(type(s))
print(s)
j[1] = "o"
print(j)
s[1] = "o"

# Dictionary 字典

In [ ]:
d_to_eng = {1:"one", 2:"two", 3:"three"}
print(d_to_eng)
print(type(d_to_eng))
print(d_to_eng[1],d_to_eng[2], d_to_eng[3])

d_to_number = {"one":1, "two":2, "three":3}
print(d_to_number["one"],d_to_number["two"], d_to_number["three"])

ks_kid = {"lucas":["dog", 3, 1.5], "splatoon":["octo", 5, 132.1]}
print(ks_kid["lucas"])
print(ks_kid["splatoon"][2])
print(ks_kid["lucas"][1])

#### query expansion
##query = "lucas" 
##d = {"lucas":["luke","luca"]}

## funciton 函數

In [ ]:
ks_team = ["A","B","D","K","L","A","Y"]
print(ks_team)

In [ ]:
def print_ks_team():
    ks_team = ["A","B","D","K","L","A","Y"]
    print(ks_team)

In [ ]:
print_ks_team()

In [ ]:
player = "A"
## %s = player = "AC"
## player name = %s
## player name = AC
print("player name = %s" %(player))

In [ ]:
## step 1 : find my_print()
## step 2 : player = "lucas" 
## step 3: a = player = "lucas"
def my_print(a):
    print("player name: %s" % (a))
my_print(player)
print(player)

In [ ]:
## a + b = c
def my_add(a,b):
    ## c = 1 + 2
    c = a + b
    return c

## step 1: find function my_add
## step 2: a = 1
## step 3: b = 2 
result = my_add(1,2)
print(result)